*.zip
business_data_science/*.jpg
*.pdf
*.csv
*.mp3
*.xlsx
NLP/tensorflow-ml-nlp-tf2/
.idea/
crawling/selenium/Lib/
crawling/selenium/Scripts/
*.jpg
*.pkl
*.bkp
*.dtmp
*.pptx
*.hwp
*.drawio
/picture/300px-현대_증기터빈_발전기.png
